/*--------------------------------------------------------------
  # Bottom Bar
  --------------------------------------------------------------*/
.bottombar {
  background-color: theme-color(tertiary-dark);
  color: theme-color(secondary);
  font-size: font-size(s);
  padding-top: gutter(base);
  padding-bottom: calc(#{$toolbar-height} + #{gutter(base)});
  @include screen(lg) {
    padding-bottom: gutter(base);
  }

  [class*="container"] {
    @extend .external-pad;
  }
}
