/*--------------------------------------------------------------
  # Brands
  --------------------------------------------------------------*/

.brands {
  background-color: theme-color(background-brands);
  color: theme-color(secondary);
  padding: gutter(base) * 2 0;
  margin-bottom: gutter(xl) * 2;

  .article {
    max-width: $article-content-max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-image,
    &-content {
      flex-basis: 100%;
      max-width: 100%;
    }

    &-content {
      @include screen(lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      &-body {
        justify-content: flex-start;
        @include screen(lg) {
          padding-left: gutter(xl);
        }
      }
    }

    &-category,
    &-link {
      color: theme-color(secondary);
    }

    &-link {
      text-decoration: underline;
    }
  }

  &-carousel {
    max-width: $article-content-max-width;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding-bottom: gutter(s);
  }

    
  .carousel-container {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto calc(-8rem) auto;
    position: relative;
    margin: 0 auto calc(-#{gutter(xl) * 2}) auto;
    &::before {
      content: '';
      display: block;
      height: 230px;
    }
  }
}

.brand {
  $item-width: calc((100% - (#{gutter(base)} * 4)) / #{$brands-carousel-item});
  $item-width-mobile: calc(
    (100% - (#{gutter(base)} * 4)) / #{$brands-carousel-item - 2}
  );
  background-color: theme-color(secondary);
  width: 100%;
  flex: 0 0 $item-width-mobile;
  max-width: $item-width-mobile;
  @include screen(lg) {
    flex: 0 0 $item-width;
    max-width: $item-width;
  }
  padding: gutter(base) * 2 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
  margin: 0 gutter(base);
  overflow: hidden;

  &-wrapper {
    transition: $default-transition;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  @include screen(lg) {
    &:hover {
      .brand-wrapper {
        transform: translateX(-100%);
      }
    }
  }

  &-logo,
  &-description,
  &-thumb,
  &-content {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    white-space: normal;
  }

  &-logo,
  &-thumb {
    justify-content: center;
    align-items: flex-start;
    img {
      max-width: 100%;
    }
  }

  &-thumb {
    max-width: 35%;
    flex: 0 0 35%;
    overflow: hidden;
  }

  &-description {
    flex-direction: column;
    color: theme-color(text-default);
    max-width: 50%;
    flex: 0 0 50%;
    max-height: 160px;
    overflow: hidden;

    .title h4 {
      margin-top: 0;
    }
  }
}
