/*--------------------------------------------------------------
  # Cards
  --------------------------------------------------------------*/
$card-stamp-size: 60px;

.card {
  border: none;
  background-color: transparent;
  margin-bottom: gutter(m);

  &:not(.blog-post) {
    [class*="card-"] {
      text-align: center;
    }
  }

  &-body {
    padding: 0;
  }

  @include screen(xl) {
    margin-bottom: 0;
  }

  &:hover {
    .card-img-top {
      box-shadow: 0 0 10px rgba(theme-color(primary), 30);
      transition: $default-transition;
    }
  }

  &-img-top {
    margin-bottom: gutter(base);
  }

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: gutter(base);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;

    &,
    &:hover,
    &:focus {
      color: theme-color(secondary);
    }
  }

  &-title {
    font-size: font-size(base);
    margin-bottom: 0;
  }

  &-subtitle {
    font-size: 0.875em;
    margin: gutter(xs) 0 gutter(base) 0;
    font-weight: $font-weight-regular;
  }

  &-description {
    color: theme-color(text-light);
    margin-bottom: 0;
    max-height: line-height(base) * $max-lines;
    overflow: hidden;
  }

  &.new,
  &.promo {
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: gutter(base);
      border-radius: 100%;
      color: theme-color(secondary);
      font-size: 0.75em;
      text-transform: uppercase;
      width: $card-stamp-size;
      height: $card-stamp-size;
    }
  }

  &.new {
    &:after {
      content: "New";
      background-color: theme-color(primary-highlight);
    }
  }

  &.promo {
    &:after {
      content: "Promo";
      background-color: theme-color(secondary-highlight);
    }
  }

  .old-price,
  .new-price {
    display: inline-block;
    margin: 0 gutter(xxs);
  }
  .old-price {
    text-decoration: line-through;
  }
  .new-price {
    color: theme-color(secondary-highlight);
  }
}
