/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  background-color: theme-color(primary);

  .navbar-nav {
    flex-direction: column;
    justify-content: center;
    @include screen(lg) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .menu-item {
      color: theme-color(secondary);
      &:not(:last-child) {
        @include screen(lg) {
          &::after {
            content: "|";
            display: inline-block;
            margin: 0 gutter(base);
          }
        }
      }
      font-size: font-size(s);
      a {
        color: theme-color(secondary);
        &:hover,
        &:focus {
          color: theme-color(highlight);
        }
      }
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include screen(lg) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .navbar-brand {
    margin: gutter(base) auto;
    img {
      max-height: $logo-height;
    }

    @include screen(lg) {
      margin: 0 gutter(base) * 2 0 0;
      max-width: $logo-width;
      justify-content: flex-start;
    }
  }
}
