/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  background-color: theme-color(primary);

  .navbar-nav {
    .nav-item {
      font-size: font-size(m);
      a {
        color: theme-color(secondary);
        &:hover,
        &:focus {
          color: theme-color(highlight);
        }
      }
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include screen(lg) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  .navbar-brand {
    margin: 0 auto;
    transition: $default-transition;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-height: $logo-height;
    }

    @include screen(lg) {
      margin: 0;
      max-width: $logo-width;
      justify-content: flex-start;

      img {
        width: 100%;
        max-height: $logo-height;
      }
    }
  }
}
