/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
  transition: $default-transition;
  background-color: theme-color(secondary);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.5);
  max-height: none;
  position: relative;
  z-index: 5;

  [class*="container"] {
    @extend .external-pad;
    flex: 1 1 auto;
    justify-content: space-between;

    > .navbar {
      padding: gutter(s) * 2 0;
      width: 100%;
    }
  }

  .navbar-brand {
    display: inline-block;
    flex: 0 0 20%;
    margin: 0 42%;
    transition: $default-transition;
    @include screen(lg-p) {
      flex: 0 0 10%;
      margin: 0 2vmax 0 0;
      max-width: $logo-width;
    }
    @include screen(xl) {
      margin: 0 gutter(xxl) 0 0;
    }

    img {
      width: 100%;
      max-height: $logo-height;
    }
  }

  &.menu-open {
    .navbar-brand {
      margin: 0;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    order: 1;
    margin: gutter(s) * 2 gutter(l) * 2 gutter(s) * 2 0;
    @include screen(lg-p) {
      margin: 0;
      order: 2;
    }

    .dropdown-toggle::after {
      content: none;
    }

    .nav-item {
      margin-left: gutter(m);
      [class^="fa"] {
        font-size: font-size(l);
      }
    }
  }

  .bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 3;
    @include screen(lg-p) {
      display: none;
    }

    &,
    .navbar-nav,
    .extra-info {
      flex-flow: column wrap;
      margin-bottom: gutter(s);
    }
  }

  .site-search {
    position: relative;
    justify-content: flex-end;
    .form-control {
      border-radius: 2rem;
      padding: gutter(xs) gutter(l) gutter(xs) gutter(s);
      font-size: font-size(base);
      border-color: theme-color(primary-light);
      overflow: hidden;
      transition: $default-transition;
      width: 100%;
      @include screen(lg-p) {
        max-width: 13rem;
        &:focus {
          max-width: 100%;
        }
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: gutter(xs);
      height: 100%;
      font-size: font-size(base);
      min-width: 0;
      padding: 0;
      margin: 0;
    }
  }

  .cart {
    i {
      position: relative;
      .badge {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -#{gutter(xs)};
        margin-right: -#{gutter(xs)};
        padding: gutter(xxs);
        font-size: font-size(xs);
        font-family: $font-family-default;
      }
    }
  }

  .navbar-toggler {
    $button-bar-height: 4px;
    display: block;
    @include screen(lg-p) {
      display: none;
    }
    position: absolute;
    top: 50%;
    right: gutter(s) * 2;
    width: 35px;
    height: 22px;
    z-index: 7;
    transform: rotate(0deg) translateY(-50%);
    transition: $default-transition;
    &,
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: $button-bar-height;
      width: 50%;
      background-color: theme-color(primary-highlight);
      opacity: 1;
      transform: rotate(0deg);
      transition: $default-transition;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 $button-bar-height $button-bar-height 0;
      }
      &:nth-child(odd) {
        left: 0px;
        border-radius: $button-bar-height 0 0 $button-bar-height;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: $button-bar-height * 2;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: $button-bar-height * 4;
      }
    }

    &.open {
      span {
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }

        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }

        &:nth-child(1) {
          left: 5px;
          top: 6px;
        }

        &:nth-child(2) {
          left: calc(50% - 5px);
          top: 6px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        &:nth-child(5) {
          left: 5px;
          top: 60%;
        }

        &:nth-child(6) {
          left: calc(50% - 5px);
          top: 60%;
        }
      }
    }
  }

  .main-menu {
    $mobile-menu-width: 65%;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -$mobile-menu-width;
    height: 100vh;
    background-color: theme-color(secondary);
    transition: $default-transition;
    width: $mobile-menu-width;

    &.open {
      right: 0;
      padding-top: gutter(xxxl);
      padding-bottom: $toolbar-height;
      z-index: 6;
      overflow: auto;
    }

    @include screen(lg-p) {
      position: static;
      flex-flow: row nowrap;
      justify-content: space-between;
      top: auto;
      right: auto;
      height: auto;
      width: auto;
      background-color: transparent;
      box-shadow: none;
    }

    > .navbar-nav {
      margin: gutter(xl) auto;
      order: 2;
      flex: 1 1 auto;
      @include screen(lg-p) {
        margin: 0;
        order: 2;
        flex: 1 1 auto;
      }
    }

    > [class*="navbar"] {
      flex-wrap: nowrap;
      flex-direction: column;
      @include screen(lg-p) {
        flex-direction: row;
      }
    }

    > .navbar-nav .nav-item {
      font-size: font-size(l);
      margin-bottom: gutter(base);
      font-weight: $font-weight-medium;
      @include screen(lg-p) {
        $min-font-size: font-size(s);
        $max-font-size: font-size(base);
        margin-bottom: 0;
        font-size: clamp(
          #{$min-font-size},
          calc(0.6357rem + 0.6696vw),
          #{$max-font-size}
        );
        &:not(:first-child) {
          margin-left: 1.5vmax;
        }
      }
    }
  }
}
