/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
  transition: $default-transition;
  background-color: theme-color(primary);
  position: relative;
  z-index: 5;

  .navbar-nav {
    justify-content: space-between;
    align-items: center;

    .nav-item {
      font-size: font-size(m);
      font-weight: $font-weight-medium;
      &:not(:last-child) {
        margin-right: gutter(base);
      }
    }
  }

  .navbar-brand {
    margin: 0 auto;
    transition: $default-transition;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-height: $logo-height;
    }

    @include screen(lg) {
      margin: 0;
      max-width: $logo-width;
      justify-content: flex-start;

      img {
        width: 100%;
        max-height: $logo-height;
      }
    }
  }

  &.menu-open {
    .navbar-nav {
      justify-content: center;
      height: 100vh;
    }

    .navbar-brand {
      margin: 0;
    }
  }

  .navbar-toggler {
    $button-bar-height: 2px;
    display: block;
    background-color: transparent;
    @include screen(lg) {
      display: none;
    }
    position: absolute;
    top: 50%;
    left: gutter(s) * 2;
    width: 28px;
    height: 22px;
    z-index: 7;
    transform: rotate(0deg) translateY(-50%);
    transition: $default-transition;
    &,
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: $button-bar-height;
      width: 50%;
      background-color: theme-color(secondary);
      opacity: 1;
      transform: rotate(0deg);
      transition: $default-transition;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 $button-bar-height $button-bar-height 0;
      }
      &:nth-child(odd) {
        left: 0px;
        border-radius: $button-bar-height 0 0 $button-bar-height;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: $button-bar-height * 3;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: $button-bar-height * 6;
      }
      &:nth-child(6) {
        left: 4px;
      }
    }

    &.open {
      span {
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }

        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }

        &:nth-child(1) {
          left: 3px;
          top: 6px;
        }

        &:nth-child(2) {
          left: calc(50% - 3px);
          top: 6px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        &:nth-child(5) {
          left: 3px;
          top: 60%;
        }

        &:nth-child(6) {
          left: calc(50% - 3px);
          top: 60%;
        }
      }
    }
  }

  .main-menu {
    $mobile-menu-width: 65%;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -$mobile-menu-width;
    height: 100vh;
    background-color: theme-color(primary);
    transition: $default-transition;
    width: $mobile-menu-width;

    &.open {
      right: 0;
      padding-top: gutter(xxxl);
      z-index: 6;
      overflow: auto;
    }

    @include screen(xl) {
      position: static;
      flex-flow: row nowrap;
      justify-content: space-between;
      top: auto;
      right: auto;
      height: auto;
      width: auto;
      background-color: transparent;
      box-shadow: none;
    }

    > [class*="navbar"] {
      flex-wrap: nowrap;
      flex-direction: column;
      @include screen(xl) {
        flex-direction: row;
      }
    }
  }
}
