/*--------------------------------------------------------------
  # Product list
  --------------------------------------------------------------*/
.product-list {
  padding: gutter(base);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: gutter(m);

    .sort {
      .sort-link {
        margin: 0 gutter(xxs);
        &.active {
          color: theme-color(primary-highlight);
        }
      }
    }
  }
  article {
    margin: 0 0 gutter(base) 0;
  }
}
