/*--------------------------------------------------------------
  # Section
  --------------------------------------------------------------*/

section {
  &.alternate-grid {
    .row > [class*="col-"] {
      &:not(:last-child) {
        article {
          margin-bottom: gutter(base) * 2;
        }
      }
      @include screen(lg) {
        &:nth-child(2n) {
          article {
            .article-image {
              order: 2;
            }
          }
        }
      }
    }
  }

  &:not(.article-highlight) {
    text-align: center;
    .article-image,
    .article-content {
      @include screen(lg) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
    .article-content {
      @include screen(lg) {
        margin-top: 0;
      }
    }
  }

  &.article-highlight {
    article {
      max-width: $article-content-max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .article-image,
      .article-content {
        flex-basis: 100%;
        max-width: 100%;
      }

      .article-content {
        @include screen(lg) {
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
        }

        .article-body {
          justify-content: flex-start;
          @include screen(lg) {
            padding-left: gutter(xl);
          }
        }
      }
    }
  }

  &.article-adv {
    background-color: theme-color(background-adv);

    .article-content {
      padding: gutter(base) * 2;
      margin: 0 auto;
    }
    *:not(.article-category) {
      .article-link {
        color: theme-color(primary);
      }
    }
  }
}
