/*--------------------------------------------------------------
  # Categories
  --------------------------------------------------------------*/

.categories {
  margin-left: -(gutter(s));
  margin-right: -(gutter(s));
  @include screen(md) {
    margin-left: -(gutter(m));
    margin-right: -(gutter(m));
  }

  > [class*="col"] {
    padding: gutter(s);
    @include screen(md) {
      padding: gutter(m);
    }
  }

  .category {
    position: relative;
    padding-top: 58.06%;
    overflow: hidden;

    &-image,
    &-title,
    &-link {
      position: absolute;
    }

    &-image {
      top: 50%;
      left: 50%;
      transform: scale(1) translate(-50%, -50%);
      width: 100%;
      transition: $default-transition;
    }

    &-title {
      bottom: 0;
      padding: gutter(base);
      margin-bottom: gutter(l);
      color: theme-color(secondary);
      font-size: font-size(xl);
      font-weight: $font-weight-semibold;
    }

    &-link {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: gutter(base);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      text-transform: uppercase;
      font-size: font-size(s);
      z-index: 1;

      &,
      &:hover,
      &:focus {
        color: theme-color(secondary);
      }

      &:hover {
        & + .category-image {
          transform: scale(1.09) translate(-50%, -50%);
        }
      }

      [class*="fa-"] {
        font-size: 0.8em;
      }
    }
  }
}
