// Grid layout
$custom-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1480px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
) !default;

$grid-columns: 12 !default;

// Color settings
$theme-colors: (
  primary: #060c3e,
  secondary: #ffffff,
  placeholder: #878787,
  tap-highlight: #000000,
  background-default: #ffffff,
  background-adv: #f2f2f2,
  background-brands: #070d3c,
  text-default: #070d3c,
  border-color: #e2e4ec,
  highlight: #ed1a2e,
  breadcrumb-color: #08012a,
);

// Typography
$font-family-default: "Work Sans", sans-serif;
$font-family-title: "Playfair Display", serif;
$font-sizes: (
  xxs: 1rem,
  xs: 1.2rem,
  s: 1.3rem,
  base: 1.4rem,
  m: 1.6rem,
  l: 3rem,
  xl: 3.4rem,
);

$lines-height: (
  xs: 1.35em,
  s: 1.5em,
  base: 1.71em,
  m: 2em,
  l: 2.2em,
  xl: 2.8em,
);

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Range Slider
$slider-bar-height: 2px;
$slider-thumb-size: $slider-bar-height * 8;
$slider-max-width: 300px;

// General gutters
$gutters: (
  xxs: 0.4rem,
  xs: 0.8rem,
  s: 1rem,
  base: 1.6rem,
  m: 2rem,
  l: 3rem,
  xl: 4rem,
  xxl: 5rem,
);

$border-radius-default: 3px;

// Header
$logo-height: 45px;
$logo-width: 235px;

// Footer
$footer-icon-width: 15px;

// Grid layout for products
$products-max-item: 1;
$products-max-item-md: 2;
$products-max-item-lg: 3;
$products-max-item-xl: 4;

// Article
$article-content-max-width: 73.6%;

// Brands carousel
$brands-carousel-item: 3;

// Transitions
$default-transition: all 0.35s cubic-bezier(0, 0, 0.44, 1.18);
